button {
    background-color: rgba(0, 0, 0, 0);
    border-width: 1px;
}

/* 
button:hover {
    background: #ddd;
} */

/* Pattern select area at top */

#pattern_select_grid {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 5px;
}

#pattern_menu {
    width: 200px;
    /* the following doesn't seem to do anything, at least on on macOS Safari */
    text-overflow: ellipsis;
}

/* Pattern canvas and the buttons to the right */

#pattern_display_grid {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 5px;
}

#pattern_controls_grid {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: left;
    gap: 5px;
}

#canvas {
    border: 1px solid #000000;
}

#goto_next_pick_spacer {
    height: 30px;
    opacity: 0;
}

#goto_next_pick {
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 1px;
}

#weave_direction {
    width: 30px;
    height: 30px;
    font-size: 120%;
    border-style: solid;
    border-width: 1px;
}
